.app.dark {
  --bg-color: #20232a;
  --inverted-bg-color: #ffffff;

  --primary-color: #61fb7b;
  --secondary-color: #2864e1;

  --inverted-primary-color: #cd66cd;
  --inverted-secondary-color: #61dafb;
}