.app.dark {
  --bg-color: #303b44;
  --inverted-bg-color: #ffffff;

  --primary-color: #ea29ff;
  --secondary-color: #ff7529;
  --inverted-primary-color: #ff7529;
  --inverted-secondary-color: #ea29ff;
}