.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #20232a;

  --primary-color: #2864e1;
  --secondary-color: #cd66cd;

  --inverted-primary-color: #61dafb;
  --inverted-secondary-color: #20232a;
}