.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #303b44;

  --primary-color: #ff7529;
  --secondary-color: #ea29ff;
  --inverted-primary-color: #ea29ff;
  --inverted-secondary-color: #ff7529;
}